In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

In [5]:
a.append(4)
b

# 3. 사용자 정의 함수 &  호출

In [1]:
# define function 
def append_element(some_list, element): #위치 인자
    some_list.append(element)
# call function 
data = [1, 2, 3] # global var 
elemnet = "python"
append_element(data, element)
data

NameError: name 'element' is not defined

# 4. 내장형 함수: type()

In [2]:
a = 5 #int
print(type(a))
a "foo" #str
print(type(a))

SyntaxError: invalid syntax (974265684.py, line 3)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

In [8]:
a = 5
type(a)
a = "foo"
type(a)

In [9]:
"5" + 5

In [10]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

In [11]:
a = 5
isinstance(a, int)

In [3]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

# 6. 내장함수 :iter()
* 반복 가능한 객체인지 알려주는 함수
* for loop
*

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

In [5]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [8]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [9]:
for i in  "a string": 
    print(i)

a

s
t
r
i
n
g

5 - 7
12 + 21.5
5 <= 2

# 7. 예약어 :
- is
- is not

  * ==
  * !=

In [13]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c
a is not c

True

In [19]:
a == c # 객체의 내용을 비교

# 8. None 객체 
* null 의미

In [15]:
a = None
a is None

True

# 9. 순차 자료형: list, tuple, str 
## 1. list 
* [], list() // 데이터 생성
* 수정, 삭제, 추가 연산 가능 ; mutable type
  * append(), pop(), remove(), insert()  
* 참조 : 인덱싱 - 리스트 변수명 [정수]
* 추출: 슬라이싱 - 리스트 변수[stat:end :step]
  * 연산자
  * 리스트 + 리스트 -> 리스트
  * 리스트 * 정수 * -> 리스트를 정수 만큼 복사해서 새로운 리스트 생성
* 메소드
    *리스트.count() 
## 2. tuple 
* (), tuple() // 데이터 생성
* 수정, 삭제, 추가 연산 가능 ; immutable type
* 참조 : 인덱싱 - 리스트 변수명 [정수]
* 추출: 슬라이싱 - 리스트 변수[stat:end :step]
  * 연산자
  * 튜플 + 튜플 -> 튜플
  * 튜플 * 정수 * -> 리스트를 정수 만큼 복사해서 새로운 리스트 생성
* 메소드
  * 투플.count()
## 3. str
* "", str() // 데이터 생성
* 수정, 삭제, 추가 연산 가능 ; mutable type
* 참조 : 인덱싱 - 리스트 변수명 [정수]
* 추출: 슬라이싱 - 리스트 변수[stat:end :step]
  * 연산자
  * 문자열 + 문자열 -> 문자열
  * 문자열
  * 정수 * -> 리스트를 정수 만큼 복사해서 새로운 리스트 생성
* 메소드
    *문자열.count()

In [16]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) #수정 
a_list

['foo', 2, (3, 4)]

In [17]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four" # 수정 불가 #수정이 불가하기에 애러뜸.

TypeError: 'tuple' object does not support item assignment

In [21]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [22]:
fval = 7.243
fval2 = 6.78e-5

In [23]:
3 / 2

1.5

In [24]:
3 // 2

1

In [27]:
c = """
This is a longer string that
spans multiple lines
"""

c.count("\n")

3

In [28]:
c.count("\n")

3

In [30]:
a = "this is a string"
a[10] = "f" # 
a # 수정 불가라 애러뜸.

TypeError: 'str' object does not support item assignment

In [40]:
b = a.replace("string", "longer string")
b # 그래서 다른 결과를 써서 저장을 해줘야함
a is b

True

In [41]:
a

'this is the first half '

In [42]:
a = 5.6
s = str(a)
print(s)

5.6

In [43]:
s = "python"
list(s)
s[:3]

'pyt'

In [36]:
s = "12\\34"
print(s)

12\34

In [37]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [44]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [45]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [46]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [47]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

# 문자열 <-> 바이트 인코딩 & 디코딩 
- encoding()
- decoding()

In [40]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

In [41]:
val = "español"
val

In [42]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [43]:
val_utf8.decode("utf-8")

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 10. non-sequence 자료형
* dict
* bool
    * True(1)
    * Fase(0)
    * 예약어 not

In [45]:
True and True
False or True

In [46]:
int(False)
int(True)

In [47]:
a = True
b = False
not a
not b

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [49]:
a = None
a is None
b = 5
b is not None

# 11. 시계열 데이터 처리
* 시간, 날짜 : datetime 객체 
* 시간 기간 : datetime.timedelta 객체

In [48]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [49]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [50]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [51]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [54]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

# ** timedelta 객체

In [52]:
dt1 = datetime(2011, 10, 29, 20, 30, 21)
dt2 = datetime(2011, 11, 15, 22, 30)

In [53]:
# 연산
delta = dt2 - dt1
delta
# type(delta)

datetime.timedelta(days=17, seconds=7179)

In [57]:
dt
dt + delta

In [54]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [59]:
4 > 3 > 2 > 1

# 12. iterable 객체
* range(start, end, step)

In [55]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [58]:
range(10)
type(range(10))
list(range(10)) # case 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [59]:
seq = [1, 2, 3, 4]
for i in range(len(seq)): #case2
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)